<p id=”alert”><%= alert %></p>
<h1>Login</h1>
<%= form_tag  do |form| %>
  <div class=”actions”>
    <%= link_to 'Sign in with Auth server', "/auth/authdoorkeeper/", class: 'btn btn-dark btn-lg btn-block' %>
  </div>
<% end %>